<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <!-- Permission -->
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">

    <meta-data
        android:name="com.google.android.gms.wallet.api.enabled"
        android:value="true" />

        <activity
            android:name=".ActivityEditNote"
            android:exported="false" />
        <activity
            android:name=".ActivityNoteInformations"
            android:exported="false" />
        <activity
            android:name=".ActivityForgotPassword"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActioBar.FullScreen" />
        <activity
            android:name=".ActivityAddWg"
            android:exported="false" />
        <activity
            android:name=".ActivityJoinWG"
            android:exported="false" />
        <activity
            android:name=".ActivityStartScreen"
            android:exported="true"/>
        <activity
            android:name=".ActivityOverview"
            android:exported="true" />
        <activity
            android:name=".ActivityPaymentOverview"
            android:exported="true" />
        <activity
            android:name=".ActivityCreateWG"
            android:exported="true" />
        <activity
            android:name=".ActivityUserProfile"
            android:exported="true"/>
        <activity
            android:name=".ActivityLogin"
            android:exported="true"

            android:theme="@style/Theme.AppCompat.Light.NoActioBar.FullScreen">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivitySignup"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActioBar.FullScreen" />
        <activity
            android:name=".ActivityNoteSpace"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".entities.Pop"
            android:theme="@style/AppTheme.CustomTheme"
            ></activity>

        <activity android:name=".ActivityShoppingList"
            android:exported="true"/>
    </application>

</manifest>